<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ryouonritsu.inkbook_backend.dao.UMLDao">
    <insert id="createNewUML" parameterType="UML" useGeneratedKeys="true" keyProperty="uml_id">
        INSERT INTO `uml`(`uml_name`, `project_id`, `last_modified`, `creator`, `xml`)
        VALUES (#{uml_name}, #{project_id}, #{last_modified}, #{creator}, #{xml})
    </insert>
    <update id="updateUML" parameterType="String">
        UPDATE `uml`
        SET last_modified = #{last_modified},
            xml = #{xml}
        WHERE uml_id = #{uml_id}
    </update>
    <select id="selectUMLByUMLId" resultType="UML">
        SELECT *
        FROM `uml`
        WHERE uml_id = #{uml_id}
    </select>
    <select id="searchUMLByProjectId" resultType="Map">
        SELECT uml_id, creator, last_modified, project_id, uml_name
        FROM `uml`
        WHERE project_id = #{project_id}
    </select>
    <update id="updateUMLInfo" parameterType="String">
        UPDATE `uml`
        SET uml_name = #{uml_name}
        WHERE uml_id = #{uml_id}
    </update>
    <delete id="deleteUMLByUMLId">
        DELETE
        FROM `uml`
        WHERE uml_id = #{uml_id}
    </delete>
</mapper>
